{{template "common/header.html" .}}

	<body id="page">
		{{template "common/nav.html" .}}

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">Login</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<form action="/dologin" method="post" class="contact-form">
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
											<input type="email" name="email" placeholder="Email" required>
											<input type="password" name="password" placeholder="Password" required>
											<button type="submit" class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>Drop Me a Line</span></button>
										</div>
									</div>
								</form>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{{template "common/footer.html" .}}
